.navbar {
    background-color: #F0F3F3;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 127px;
    padding: 33px 16px;

    .cafelogo {
        width: 28px;
        height: 28px;
    }

    div.first-row {
        padding-bottom: 1.5rem;
    }

    .nav-tabs {
        display: grid;
        grid-template-columns: repeat(1fr);

    }
}