* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img  {
    max-width: 100%
}

ul {
    list-style: none;
}

@import url(_header.scss);
@import url(_text.scss);
@import url(utilities.scss);

body {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    color: #4a5662;
}

@font-face {
    font-family: 'Graphik';
    src: url(../fonts/GraphikSemibold.otf);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}